# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider / VS Code
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Secrets
appsettings.Development.json